:root{

    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

    --very-dark-blueBG: hsl(217, 54%, 11%);   /* MAIN BG */
    --very-dark-blueCBG: hsl(216, 50%, 16%);  /* CARD BG */
    --very-dark-blueL: hsl(215, 32%, 27%);    /* LINE */
    --white: hsl(0, 0%, 100%);

}

*{
    margin: 0;
    background-color: var(--very-dark-blueBG);
}

main{
    position: absolute;
    width: 100vw;
    height: 100vh;
}

body{
    height: 100vh;
    width: 100vw;
    font-family: "Outfit";
    font-weight: 600;
    color: var(--white);
}

p{
    background: none;
    color: var(--soft-blue);
}

.container{
    background-color: var(--very-dark-blueCBG);
    margin: auto;
    margin-top: 5%;
    max-width: 300px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 15px 3px 15px rgba(1, 1, 17, 0.1);  
}

/* CONTEUDO .card COM FUNDO EM CYAN PARA APARECER EM EFEITO DE HOVER. A IMAGEM GANHA OPACIDADE MOSTRANDO O FUNDO EM CYAN */
.card{
    background: cyan;
    border-radius: 10px;
    max-width: 299px;
    max-height: 299px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__img{
    position: relative;
    max-width: 300px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
}

.card__img:hover{
    opacity: 0.4;
    z-index: 0;
}

.card__view__icon{
    cursor: pointer;
    background: none;
    position: absolute;
}

.content{
    background: none;
    padding: 10px 0px 10px 0px;
}

.content__name{
    font-size: 1.25em;
    color: var(--white);
}

.content__name:hover{
    color: var(--cyan);
    cursor: pointer;
}

.content__description{
    color: var(--soft-blue);
    font-size: 18px;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 15px;
}

.nft_data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    padding: 0px 0px 10px 0px;
    font-weight: 300;
    font-size: 13px;
}

.nft_data__icon, .nft_data__clock{
    gap: 0.5rem;
    display: flex;
    align-items: center;
    background: none;
}

.nft_data__icon{
    justify-content: left;
}

.nft_data__clock{
    justify-content: right;
}

.nft_data__icon img, .nft_data__clock img{
    background: none;
}

.nft_data__icon p{
    font-size: 1.25em;
    color: var(--cyan);
}

.nft_data__clock p{
    font-weight: 400;
    font-size: 1.25em;
}

hr {
    border-bottom: 1px solid var(--very-dark-blueL);
    margin: 0.5rem 0;
}



.profile {
    display: flex;
    background: none;
    align-items: center;
    gap: 5px;
    padding: 10px 0px 0px 0px;
}

.profile__name{
    color: var(--white);
}

.profile__name:hover{
    cursor: pointer;
    color:var(--cyan)
}

.profile img{
    max-width: 30px;
    border: solid 1px;
    border-radius: 50%;
    background-color: var(--white);
}

.profile p{
    font-weight: 300;
}

.attribution{
    position: absolute;
    font-family: "Outfit";
    font-size: 8px;
    font-weight: 100;
    left: 1%;
    bottom: 1%;
}